@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;1,100&family=PT+Sans:wght@400;700&family=Rowdies:wght@300;400;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-weight: 300;
}

:root {
  --redberryColor: #FE3B1F;
}
.flex-centered {align-items: center; justify-content: center;}
.d-flex {display: flex;}
p {
  font-family: 'Montserrat';
  color: #FFFFFF;
  line-height: 50px;
  font-size: 22px;
}

.right > p {
  width: 650px;
}

.info {
  padding: 500px;
}

.fill-screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.intro {
  font-family: 'Montserrat', sans-serif;
  background: black url('images/stars.png') no-repeat fixed center;
  opacity: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.covid {height: 1200px;}
.intro > h1 {
  font-family: 'PT sans', sans-serif;
  font-family: 'Rowdies', cursive;
  color: var(--redberryColor);
  font-weight: 400;
  font-size: 90px;
  margin-bottom: 130px;
  margin-top: 150px;
}

.intro > a {
  color: #FFFFFF;
  text-decoration: underline;
  cursor: pointer;
  line-height: 30px;
  font-size: 20px;
}
.left > form {position: relative;}
.btn {
  color: white;
  font-size: 22px;
  background-color: var(--redberryColor);
  padding: 20px 80px 20px 80px;
  border-radius: 50px;
  cursor: pointer;
}

.margin-top {
  margin-top: 150px;
}

form > .btn {
  position: absolute;
  right: 0;
  border-radius: 0;
  font-size: 14px;
  font-family: 'Montserrat';
  padding: 15px;
  width: 200px;
  align-self: flex-end;
}

::-webkit-calendar-picker-indicator { 
  background: url("images/calendar.png") no-repeat center; 
}

.btn-start {
  margin-bottom: 30px;
}

.coordinates {
  height: 100vh;
  width: 100%;
}

.left {
  position: relative;
  width: 100%;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center; 
  padding: 0 120px 0 120px;
}

.date {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
}

.left > h1 {
  margin-top: 100px;
}

.right {
  width: 100%;
  right: 0;
  padding: 80px 100px 100px 150px;
  background-color: #0C0D0E;
}
.left > h1, .right > h1 {
  font-family: 'PT sans', sans-serif;
  font-family: 'Rowdies', cursive;
  color: var(--redberryColor);
  font-weight: 400;
  font-size: 52px;
  margin-bottom: 120px;
}
.right > h1 {margin-bottom: 100px;}
.left > form {
  margin-bottom: 80px;
}

.form-input:focus {
  outline: none;
  border: 1px solid lightblue;
}

.form-input {
  border: 1px solid #525557;
  border-radius: 0;
  padding: 20px 50px 20px 50px;
  font-size: 16px;
  font-style: italic;
  width: 400px;
  margin-bottom: 20px;
  text-align: left;
}

.errored {
  border: 1px solid red;
}

.error {
  color: red;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 14px;
  font-style: italic;
  margin-top: -15px;
  margin-bottom: 20px;
  text-align: left;
}

.left > form > .form-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.switcher > img {
  margin-right: 20px;
  cursor: pointer;
}

div.form-input {
  font-family: 'Montserrat';
  font-weight: 700;
}

.switcher {
  margin-bottom: 50px;
}

#skillsH {
  margin-bottom: 40px;
}

.drop-skills {
  position: absolute;
  background-color: white;
  width: 400px;
  z-index: 2;
}

.drop-skills > div{
  margin-bottom: 5px;
  background-color: #9fa3a5;
  padding: 10px;
  cursor: pointer;
}

.allSkills {
  margin-top: 150px;
  margin-bottom: -50px;
}

.skillbar {
  display: flex;
  justify-content: space-between;
  border: 1px solid #525557;
  border-radius: 0;
  padding: 20px 50px 20px 50px;
  font-size: 16px;
  font-style: italic;
  width: 400px;
  margin-bottom: 20px;
  text-align: left; 
}

.skillbar > div {
  font-family: 'Montserrat';
  font-weight: 900;
}

.covid-q{
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 14px;
  text-align: start;
  margin-bottom: 50px;
}

pre {
  font-family: 'Montserrat';
  font-weight: 700;

}

.checked {background-color: rgb(137, 137, 211);}
.covid-q > * {
  margin-bottom: 20px;
}

.checkbox {
  width: 10px;
  height: 10px;
  border: 1px solid #525557;
  border-radius: 50%;
  cursor: pointer;
}

.quest {
  font-size: 16px;
}

.choice {
  align-items: center;
  margin-bottom: 0px;
}

.about-right {
  height: 950px;
}

.about-input {
  height: 100px;
  text-align: initial;
  resize: none;
  font-family: 'Montserrat';
  font-weight: 900;
}

.submit {
  position: absolute;
  background-color: #0C0D0E;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.submit > .btn {
  padding: 20px 100px 20px 100px;
}

.goback {
  margin-top: 20px;
  text-decoration: underline;
  cursor: pointer;
}


@media only screen and (max-width: 1200px) {


}